body{
	
}

#img1{
	max-height:75px;
	max-width:75px;
}
#text{
	font-size:40px;
	animation-duration:2.5s;

}
#past{
	text-align:center;
	margin-top:100px;
	
}
#cur{
	text-align:center;
	margin-top:50px;
}

//upcoming events page
#card{
	background:#6fc98a;
}
#control{
	animation-duration:3.5s;
}


